body {
    margin: 0;
    background-size:cover;
    background-attachment: fixed;
    background-image: url(https://www.1zoom.me/big2/64/232791-Sepik.jpg);
    display: flex;
    align-items: center;
}